<div class="relative mt-10">
  <div class="flex  items-center mt-10 gap-5">
    <h2 class="text-4xl text-white uppercase">Experiencia </h2>
    <button *ngIf="isLogged" (click)="handleModal()"
      class="text-white rounded-sm border border-green-700 w-8 hover:bg-green-700 duration-300 items-center"><i
        class="fa-solid fa-plus"></i></button>
    <app-show-button (open)="showSection($event)" (close)="showSection($event)"></app-show-button>
  </div>
  <div class="border-b w-10 border-2 border-cyan-400"></div>
  <div *ngIf="!state">
    <div class="grid grid-cols-2 gap-5 mt-10">
      <div class="flex flex-col h-full p-5 mt-5 border rounded-md relative" *ngFor="let experience of experiences ">
        <app-experience-card [isLogged]="isLogged" [experience]="experience" (idDelete)="deleteExperience($event)" (idEdit)="setIdEdit($event)"
        (dataEditExperience)="editEducation($event)"></app-experience-card>
      </div>
    </div>
  </div>

  <div *ngIf="!stateModal"
    class="bg-gradient-to-r from-black to-slate-900 absolute top-0 left-72 border border-cyan-600 w-96 h-96 z-10">

    <div class="p-5">
      <app-modal-experience [title]="Agregar" (closeModalExperience)="closeModal($event)" (dataExperienceForm)="addExperience($event)"></app-modal-experience>
    </div>

  </div>
</div>
