<div class="flex justify-start mt-8 gap-10 text-3xl text-slate-400">
  <a class="" href={{linkGit}} target="_blank" rel="noreferrer">
    <i
      class="fa-brands fa-github text-4xl text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 to-cyan-200 transition ease-in-out delay-100  hover:-translate-y-1 hover:scale-110"></i>
  </a>
  <a class="" href={{linkLinkedIn}} target="_blank" rel="noreferrer">
    <i
      class="fa-brands fa-linkedin-in text-4xl text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 to-cyan-200  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110"></i>
  </a>

  <a class="" href={{linkInstagram}} target="_blank" rel="noreferrer">
    <i
      class="fa-brands fa-instagram text-4xl  text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 to-cyan-200  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110"></i>
  </a>
</div>
