<div class="flex  items-center mt-10 gap-5 relative" >
  <h2 class="text-4xl text-white uppercase">Proyectos </h2>
  <button *ngIf="isLogged" (click)="handleModal()"
    class="text-white rounded-sm border border-green-700 w-8 hover:bg-green-700 duration-300 items-center"><i
      class="fa-solid fa-plus"></i></button>
      <div *ngIf="!stateModal"
        class="bg-gradient-to-r from-black to-slate-900 absolute top-0 right-5 left-72 border border-cyan-600 w-96 h-96 z-10">
        <div class="p-1">
          <app-modal-form [title]="'Agregar'" (dataFormProject)="addProject($event)"></app-modal-form>
        </div>
      </div>
  <app-show-button (open)="showSection($event)" (close)="showSection($event)"></app-show-button>
</div>
<div class="border-b w-10 border-2 border-cyan-400"></div>

<div class="grid grid-cols-2 gap-10 mt-10" *ngIf="!state">
  <app-card-project [isLogged]="isLogged" (idEdit)="setIdEdit($event)" (dataEditProject)="editProject($event)" (idDelete)="deleteProject($event)" [project]="project" *ngFor="let project of projects" ></app-card-project>
</div>

