<div class="md:pr-80 lg:pr-0 2xl:absolute 2xl:mr-98 2xl:pt-20 top-20 right-96" @enterState>
  <div class="hover:animate-bounce cursor-pointer flex justify-center  duration-300 ">
    <img class="w-20  mt-5 object-contain " src='../../../assets/tailwind.png' />
  </div>

  <div class="flex gap-10 pt-8">
    <img class="w-20 bg-opacity-0 hover:animate-bounce cursor-pointer " src='../../../assets/bootstrap.png' />
    <img class="w-20 bg-opacity-0 hover:animate-bounce cursor-pointer " src='../../../assets/css.png' />
    <img class="w-20 bg-opacity-0 hover:animate-bounce cursor-pointer " src='../../../assets/ts.png' />
  </div>

  <div class=" flex gap-10 pt-8">
    <img class="w-20 bg-opacity-0 hover:animate-bounce cursor-pointer " src='../../../assets/java.png' />
    <img class="w-20 bg-opacity-0 hover:animate-bounce cursor-pointer " src='../../../assets/javascript.png' />
    <img class="w-20 bg-opacity-0 hover:animate-bounce cursor-pointer " src='../../../assets/angular.png' />
  </div>
  <div class="pt-8 flex justify-center">
    <img class="w-20   hover:animate-bounce cursor-pointer" src='../../../assets/spring.png' />
  </div>
